// Цвет текста
$primary-text-color: #444444;
$second-text-color: #000000;
$third-text-color: #ffffff;

//Цвет фона
$primary-bg-color: #ffffff;
$second-bg-color: #f2f2f2;
$third-bg-color: #68b738;
$fourth-bg-color: #000000;
$five-bg-color: #666666;
