/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/index-body.scss";
@import "./blocks/catalog-body.scss";
@import "./blocks/primary-button.scss";
@import "./blocks/section-title.scss";
@import "./blocks/main-header.scss";
@import "./blocks/hero.scss";
@import "./blocks/product-list.scss";
@import "./blocks/argument.scss";
@import "./blocks/catalog-list.scss";
@import "./blocks/item-title.scss";
@import "./blocks/catalog-section-title.scss";
@import "./blocks/additional-products-list.scss";
@import "./blocks/inner-list.scss";
@import "./blocks/gift-wrapper.scss";
@import "./blocks/gift-text.scss";
@import "./blocks/subscription.scss";
@import "./blocks/map.scss";
@import "./blocks/main-footer.scss";
