.case-result {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    align-items: center;
  }
}

.case-result__wrapper {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.case-result__parameter {
  @include text-format ($second-font, 24px, 100%, $second-text-color);
  position: relative;
  width: 124px;
  height: 56;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 78px;
    font-size: 30px;
    line-height: 123%;
  }

  @media (min-width: $desktop-width) {
    height: 68px;
  }
}

.case-result__parameter-description {
  @include text-format ($primary-font, 12px, 100%, $primary-text-color);
  position: absolute;
  width: 87px;
  top: 106%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    width: min-content;
    top: 98%;
    padding: 0 7px;
    white-space: nowrap;
    font-size: 14px;
    background-color: $primary-bg-color;
  }

  @media (min-width: $tablet-width) {
    background-color: $second-bg-color;
  }
}

.case-result__parameter-description br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
