.catalog-body {
  @include text-format ($primary-font, 12px, 133%, $primary-text-color);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: $primary-bg-color;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 125%;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}


.catalog-body__main-header {
  position: relative;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 27px;


  &::before {
    @include common-pseudo (320px, 1px);
    position: absolute;
    top: 106%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 1220px;
    top: 2.9%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}

.catalog-body__main-footer-wrapper {
  @include common-wrapper (320px, 768px, 1440px);
}
