.description-list {
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 280px);
    gap: 37px 137px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
}

.description-list__item {
  position: relative;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 250px;
    flex-direction: column;
    align-items: start;
  }
}

.description-list__item--leaf-style {
  &::before {
    @include common-pseudo (60px, 60px);
    background: url("../../icons/stack.svg#leaf"), $third-bg-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 31px, 100%;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      @include text-format ($second-font, 280px, 100%, #f2f2f2);
      content: "1";
      position: absolute;
      top: -39px;
      right: 25px;
      z-index: -1;
    }

    @media (min-width: $desktop-width) {
      top: -41px;
      right: 6px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    padding-bottom: 57px;
    margin-right: 94px;
  }
}


.description-list__item--powder-style {
  &::before {
    @include common-pseudo (60px, 60px);
    background: url("../../icons/stack.svg#powder"), $third-bg-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 31px, 100%;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      @include text-format ($second-font, 280px, 100%, #f2f2f2);
      content: "2";
      position: absolute;
      top: -39px;
      right: 5px;
      z-index: -1;
    }

    @media (min-width: $desktop-width) {
      top: -41px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 246px;
    padding-bottom: 57px;
    margin-right: 80px;
  }
}

.description-list__item--cutlery-style {
  &::before {
    @include common-pseudo (60px, 60px);
    background: url("../../icons/stack.svg#cutlery"), $third-bg-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 31px, 100%;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      @include text-format ($second-font, 280px, 100%, #f2f2f2);
      content: "3";
      position: absolute;
      top: -39px;
      right: 0;
      z-index: -1;
    }

    @media (min-width: $desktop-width) {
      top: -41px;
    }
  }

  @media (min-width: $desktop-width) {
    top: -1px;
    width: 248px;
    padding-bottom: 57px;
    margin-right: 76px;
  }
}


.description-list__item--clock-style {
  &::before {
    @include common-pseudo (60px, 60px);
    background: url("../../icons/stack.svg#clock"), $third-bg-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 31px, 100%;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      @include text-format ($second-font, 280px, 100%, #f2f2f2);
      content: "4";
      position: absolute;
      top: -39px;
      right: 0;
      z-index: -1;
    }

    @media (min-width: $desktop-width) {
      top: -41px;
    }
  }

  @media (min-width: $desktop-width) {
    top: -1px;
    width: 250px;
    padding-bottom: 57px;
  }
}

.description-list__item--clock-style br:nth-child(odd) {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
