.description-section__wrapper {
  position: relative;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 106px 0 110px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      @include common-pseudo (768px, 1px);
      position: absolute;
      top: 96%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #e6e6e6;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.description-section__title {
  margin: 0;
  margin-bottom: 40px;
  line-height: 111%;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }
}

.description-section__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.description-section__text {
  margin: 0;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}
