.gift-wrapper {
  display: flex;
  justify-content: center;
  background-color: $third-bg-color;
}

.gift-wrapper__text {
  @include text-format ($primary-font, 16px, 125%, $third-text-color);
  text-align: center;

  &::before {
    @include common-pseudo (57px, 61px);
    margin: 0 auto;
    margin-bottom: 61px;
    background-image: url("../../icons/stack.svg#gift");
  }
}
