.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 20px 0;
  background:
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 62%, rgba(255, 255, 255) 38%),
    url("../../images/hero-background-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0 180px 526px 120px;
    align-items: start;
    background: none;
    background-color: $primary-bg-color;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 416px 552px;
    grid-template-rows: 80px auto 40px auto 52px auto 134px;
    padding: 143px 0 52px 190px;
    background:
      linear-gradient(to left, rgba(104, 183, 56, 0.85) 100%, rgba(255, 255, 255) 35%),
      url("../../images/hero-background-desktop@2x.jpg");
    background-size: 720px;
    background-position: right;
    background-repeat: no-repeat;
  }
}

.hero .section-title {
  color: $third-text-color;

  @media (min-width: $tablet-width) {
    color: $second-text-color;
  }
}

.hero__title {
  order: 1;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    z-index: 2;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.hero__title br {
  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.hero__slogan {
  @include text-format ($second-font, 14px, 100%, $third-text-color);
  order: 2;
  margin: 0;
  margin-bottom: 29px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    font-size: 20px;
    color: $second-text-color;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-bottom: 0;
  }
}

.hero__image {
  order: 3;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    right: 30px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    bottom: unset;
    right: unset;
    grid-column: 2/3;
    grid-row: -8/-1;
    z-index: 1;
    align-self: start;
    object-fit: contain;
    object-position: -47px;
  }
}

.hero__button {
  width: 280px;
  order: 4;

  @media (min-width: $tablet-width) {
    order: 3;
    width: 244px;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    height: 54px;
    grid-column: 1/2;
    grid-row: 6/7;
    order: 4;
    position: relative;
  }
}
