.inner-list {
  @include text-format ($primary-font, 12px, 133%, $primary-text-color);
  display: grid;
  grid-template-areas: "inner-list__value-name inner-list__value";

  @media (min-width: $tablet-width) {
    row-gap: 10px;
  }
}

.inner-list--additional-products {
  font-size: 14px;
  line-height: 100%;
}

.inner-list__value-name {
  text-align: left;
}

.inner-list__value {
  text-align: right;
}
