.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 40px;
  background-color: $second-bg-color;

  @media (min-width: $tablet-width) {
    padding: 62px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 72.5px 110px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.main-footer__logo {
  width: 128px;
  height: 24px;
  display: flex;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 160px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.main-footer__logo--line-style {
  position: relative;

  &::after {
    @include common-pseudo (280px, 1px);
    position: absolute;
    top: 174%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.main-footer__logo-text {
  width: 128px;
  height: 24px;

  @media (min-width: $desktop-width) {
    height: 25px;
  }
}

.main-footer__list {
  position: relative;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.main-footer__list--line-style {
  &::after {
    @include common-pseudo (280px, 1px);
    position: absolute;
    top: 187%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.main-footer__link {
  position: relative;
  display: block;
  width: 28px;
  height: 22px;
}

.main-footer__link--vkontakte-style::before {
  @include absolute-center;
  content: " ";
  width: 27px;
  height: 17px;
  mask-image: url("../../icons/stack.svg#vkontakte");
  background-color: $five-bg-color;
}

.main-footer__link--youtube-style::before {
  @include absolute-center;
  content: " ";
  width: 24px;
  height: 19px;
  mask-image: url("../../icons/stack.svg#youtube");
  background-color: $five-bg-color;
}

.main-footer__link--telegram-style::before {
  @include absolute-center;
  content: " ";
  width: 20px;
  height: 18px;
  mask-image: url("../../icons/stack.svg#telegram");
  background-color: $five-bg-color;
}
