.main-header {
  position: relative;
  padding: 13px 20px 14px;

  @media (min-width: $tablet-width) {
    padding: 25px 34px 25px 30px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 2%;
    left: 58%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}

.main-header__navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-header__logo {
  display: flex;
  align-items: center;
  margin-right: 65px;

  @media (min-width: $tablet-width) {
    margin-right: 94px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 541px;
  }
}

.main-header__logo-image {
  display: inline-block;
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }
}

.main-header__list {
  display: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
