.main-footer {
  background-color: $second-bg-color;
}

.main-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 59px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 70.5px 110px;
    flex-direction: row;
    align-items: center;
  }
}

.main-footer__logo {
  width: 128px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-footer__logo-text {
  width: 128px;
  height: 24px;

  @media (min-width: $desktop-width) {
    height: 25px;
  }
}

.catalog-body__list-wrapper {
  width: 280px;
  margin-bottom: 20px;

  &::before,
  &::after {
    @include common-pseudo (280px, 1px);
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: unset;
    margin-bottom: 0;
  }
}

.main-footer__list {
  width: 132px;
  margin: 0 auto;
  margin-top: 19px;
  margin-bottom: 20px;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 35px;
  }
}

.main-footer__link {
  position: relative;
  display: block;
  width: 28px;
  height: 22px;
}

.main-footer__link--vkontakte-style::before {
  @include absolute-center;
  content: " ";
  width: 27px;
  height: 17px;
  mask-image: url("../../icons/stack.svg#vkontakte");
  background-color: $five-bg-color;
}

.main-footer__link--youtube-style::before {
  @include absolute-center;
  content: " ";
  width: 24px;
  height: 19px;
  mask-image: url("../../icons/stack.svg#youtube");
  background-color: $five-bg-color;
}

.main-footer__link--telegram-style::before {
  @include absolute-center;
  content: " ";
  width: 20px;
  height: 18px;
  mask-image: url("../../icons/stack.svg#telegram");
  background-color: $five-bg-color;
}
