.main-header {
  padding: 13px 20px 14px;

  @media (min-width: $tablet-width) {
    padding: 25px 34px 25px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.main-header__logo {
  margin-right: 65px;

  @media (min-width: $tablet-width) {
    margin-right: 94px;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
  }
}

.main-header__logo-image {
  display: inline-block;
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }
}

.main-header__logo-text {
  @media (min-width: $desktop-width) {
    width: 118px;
    height: 24px;
  }
}

.main-header__list {
  display: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
