.map {
  padding-bottom: 20px;
  background-color: $second-bg-color;
}

.map__text-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  padding: 26px 20px;
}

.map__slogan {
  @include text-format ($second-font, 16px, 125%, $second-text-color);
  margin: 0;
  text-transform: uppercase;
}

.map__text {
  margin: 0;
  font-size: 14px;
  line-height: 143%;
}

.map__canvas {
  width: 320px;
  height: 326px;
  background-color: #666666;
}
