.product-list {
  list-style: none;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
  }
}

.product-list__item {
  position: relative;
  padding: 30px 20px 18px;
  margin-bottom: 15px;
  background-color: $second-bg-color;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 708px;
    padding: 77px 29px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    width: 570;
    padding-bottom: 59px;
  }
}

.product-list__title {
  @include text-format ($second-font, 24px, 154%, $second-text-color);
  margin: 0;
  margin-left: 67px;
  margin-bottom: 29px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    font-size: 36px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 165px;
  }
}

.product-list__item--slim-cat::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 22px;
  width: 50px;
  height: 53px;
  background-image: url("../../icons/stack.svg#slim-cat");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    top: 78px;
    left: 450px;
    width: 200px;
    height: 211px;
  }

  @media (min-width: $desktop-width) {
    top: 24px;
    left: 52px;
    width: 100px;
    height: 106px;
  }
}

.product-list__item--strong-cat::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 10px;
  width: 68px;
  height: 50px;
  background-image: url("../../icons/stack.svg#strong-cat");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    top: 78px;
    left: 418px;
    width: 268px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    top: 34px;
    left: 31px;
    width: 134px;
    height: 100px;
  }
}

.product-list__description {
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    width: 457px;
  }
}

.product-list__description br {
  display: none;
}

.product-list__link {
  @include text-format ($second-font, 16px, 100%, $second-text-color);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 150%;
  }

  &::before {
    content: " ";
    display: block;
    width: 240px;
    height: 1px;
    margin-bottom: 15px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 12px;
    margin-left: 15px;
    mask-image: url("../../icons/stack.svg#arrow");
    background-color: $fourth-bg-color;
  }
}
